body {
    font-family: Arial, sans-serif;
}

#newProject {
    margin-bottom: 10px;
}

#projectTable {
    width: 100%;
    border-collapse: collapse;
}

#projectTable th, #projectTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

#projectTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#projectTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightgray;
    color: rgb(0, 0, 0);
}
.input{
    display: inline-flex;
}
.display{
    margin-left: 10%;
    height: 20px;
}
button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
}
body{
    font-family: Arial, sans-serif;
}